/*Estilo Index */


header {
   grid-column: 1 / 3;
   grid-row: 1 / 2;
}

.body {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
 }
 
.banner {
   background-image: url(../Img/banner.jpg);
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 900px;
   grid-column: 1 / 3;
   grid-row: 2 / 3;

   /* Nueva propiedad */
   max-height: 100vh;
}
.paginas {
   grid-column: 1 / 3;
   grid-row: 3 / 4;
}

footer {
   grid-column: 1 / 3;
   grid-row: 4 / 5;
}
/*Estilo menu */

nav ul li a:hover {
   text-decoration: none;
   color: blue;
}

ul {
   list-style-type: none;
}

@media (max-width: 576px) {
   nav ul {
       display: flex;
       flex-direction: column;
   }

   nav ul li {
       width: 100%;
   }

   nav ul li a {
       padding: 10px;
       text-align: center;
   }
}
img {
   max-width: 100%;
   height: auto;
 }

 
@keyframes show {
   from {
      opacity:0;
      scale: 25%;
   }
   to {
      opacity: 1;
      scale: 100%;
   }
}

img {view-timeline-name: --image;
 view-timeline-axis: block;   
animation-timeline: --image;
animation-name: show;
animation-range: entry 25% cover 50%;
animation-fill-mode: both;
}

* {
   margin: 0;
   padding: 0;
   font-family: lato;
}

h2 {
   text-align: center;
   font-size: 2rem;
   padding-top: 50px;
}

.slider-frame {
  width: 1280px;
   height: auto;
  margin:50px auto 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}
  
  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
  
  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}