
@import "./utilities/variables";
@import "./Base/tipografias";
@import "./Base/reset";
@import "./utilities/mixins";



@import "./Components/buttons";
@import "./Components/footer";
@import "./Components/navigation";

@import "./views/home";
@import "./views/artistas";
@import "./views/contacto";
@import "./views/musica";
@import "./views/noticias";






@keyframes animacion {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .elemento {
    animation: animacion 2s ease-in-out;
  }